node_modules/
dist/
build/
.next/
coverage/

.env
.env.*
!.env.example
app/**/node_modules/
generated/prisma/
app/**/generated/prisma/
app/api/generated/


.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
